<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887594861542-mj7lu6abhde60iiaq39cv8si7ja0l2ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887594861542-mj7lu6abhde60iiaq39cv8si7ja0l2ns</string>
	<key>API_KEY</key>
	<string>AIzaSyD5dEYsbBE_3bdh4SLe1IF-4z-iP7ZOEoA</string>
	<key>GCM_SENDER_ID</key>
	<string>887594861542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dbProject</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-8fd44</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-8fd44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887594861542:ios:a37b33908dd023118d0c27</string>
</dict>
</plist>